<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-icon-button  (click)="drawer.toggle();"><mat-icon routerLinkActive="active-icon">menu</mat-icon></button>
    <span>{{title}}</span>

    <span class="toolbar-spacer "></span>


    <button  mat-fab color="warn" [routerLink]="['/profile']">
      <mat-icon>home</mat-icon>
    </button>


    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onSelectOption('1')">
        <mat-icon>wb_sunny</mat-icon>
        <span>Option 1</span>
      </button>
      <button mat-menu-item (click)="onSelectOption('2')">
        <mat-icon>lens</mat-icon>
        <span>Option 2</span>
      </button>
      <button mat-menu-item (click)="onSelectOption('3')">
        <mat-icon>brightness_3</mat-icon>
        <span>Option 3</span>
      </button>
    </mat-menu>

    </mat-toolbar-row>

  </mat-toolbar>

<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav
  #drawer
  class="sidenav"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [class.menu-close]="!isMenuOpen" opened>

    <mat-nav-list >
      <a [routerLink]="['/home']" mat-list-item href="#" routerLinkActive="active"><mat-icon routerLinkActive="active-icon">home</mat-icon><span class="ml-2" > Welcome </span></a>
      <a [routerLink]="['/profile']" mat-list-item href="#" routerLinkActive="active"><mat-icon routerLinkActive="active-icon">settings</mat-icon><span class="ml-2" > Profile Settings</span></a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content  [ngStyle]="{ 'margin-left.px': contentMargin }" >
    <div class="main">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
